.App {
    padding: 20px;
    text-align: center;
}

.display-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.display-button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.grouping,
.ordering {
    margin: 0 20px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 10px;
}